/* RESET */
*{
    width: 100%;
    /* fuente */
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-size: 100%; 
    font: inherit; 
    vertical-align: baseline;
    text-decoration: none;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display: block;
}
body{
    line-height: 1;
    display: flex;
    justify-content: center;
}
ol,ul { 
    list-style: none;
}
blockquote,q { 
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after { 
    content: ''; 
    content: none;
}

/* DISTRIBUCIÓN BÁSICA */
.grid{
    display: grid;
}
.flex{
    display: flex;
}
.columna{
    flex-direction: column;
}
.linea{
    flex-direction: row;
}

/* DISTRIBUCIÓN GRID BODY */
.container{
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:    "h h"
                            "a s"
                            "f f"   ;
    max-width: 90%;
    margin: 1em 0em 2em 0em;
}
#h{ 
    grid-area: h;
    /** BORDE INFERIOR */
    border-bottom: 1.5px solid black;
    margin-bottom: 1em;
    text-align: center;
    justify-content: center;
}
#a{
    grid-area: a;
    margin-right: 2em;
}
#s{
    grid-area: s;
    /* DISTRIBUCIÓN DE ARTÍCULOS */
    grid-template-columns: repeat(100,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 1em;
    text-align: center;
}
#f{
    grid-area: f;
    /** BORDE SUPERIOR */
    border-top: 1.5px solid black;
    margin-top: 1em;
    padding-top: 1em;
    /* DISTRIBUCION FOOTER */
    align-items: center;
}
/* ARTÍCULOS */
article{
    grid-area: auto;
    border: 1px solid grey;
    border-radius: 22px;
    padding: 1em 1em 0em;
    
}
article>img{
    border-radius: 22px;
    height: 50%;
}
#articulo1{
    grid-area: 1/1/2/59;
    align-items: center;
}
#articulo1>img{
    width: 80%;
    height: 62%;
}
#articulo2{
    grid-area: 1/63/2/101;
}
#articulo3{
    grid-area: 2/1/3/30;
}
#articulo4{
    grid-area: 2/33/3/66;
}
#articulo5{
    grid-area: 2/70/3/101;
}
/* FORMATEO TEXTOS */
.negrita{
    font-weight: bolder;
    font-style: italic;
}
h1{
    font-size: x-large;
    margin-bottom: 0.2em;
}
article>p{
    font-size: large;
    padding: 1em 1em 0em;
}
#articulo1>p{
    font-size: medium;
    padding: 0.3em 0.2em 0em;
    font-style: italic;
}
#a > ul > li {
    margin: 1em;
}
#a > ul > li > a{
    color: black;
}
/* ICONOS */
#rrss{
    justify-content: end;
}
#rrss>img{
    width: 15%;
}